.privacy-policy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .privacy-policy h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .privacy-policy h2 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .privacy-policy ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .privacy-policy li {
    margin-bottom: 10px;
  }
  